.FilmsPage {
    border: 2px black solid;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(214, 178, 178);
 }

.FilmsPage img{
    width: 500px;
    height: 450px;
    border-radius: 10px;
 
 }

.FilmsPage button{
    width: 500px;
    height: 30px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: yellow;
    display: block;
    font-weight: 800;
 }