header{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: white;
}

.img{
    width: 50px;
}

.gen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    overflow-x: scroll;
}